.root{
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-my-blue: rgba(0, 97, 224, 0.35);
    -fx-my-red: rgba(170, 10, 10, 0.35);
    -fx-my-green: rgba(47, 218, 84, 0.35);
    -fx-my-yellow: rgba(255, 249, 77, 0.35);

    -fx-my-background: #c1c5cc;

    -fx-my-border-color: black;
    -fx-my-border-size: 5px;
}

.text-field{
    -fx-background-radius: 10 10 10 10;
}

.label-pane-top{
    /*-fx-background-color: radial-gradient(center 180% -40%, radius 350%, -fx-my-red 45%, -fx-my-yellow 50%);*/
    -fx-background-color: -fx-my-background;
    -fx-background-radius: 10 10 0 0;
}

.label-pane-bottom{
    /*-fx-background-color: radial-gradient(center 180% -40%, radius 350%, -fx-my-green 40%, -fx-my-blue 50%);*/
    -fx-background-color: -fx-my-background;
    -fx-background-radius: 0 0 10 10;
}
.button .text{
    -fx-font-size: 20;
}

.image-button{
    -fx-background-color:transparent;
    -fx-border-color:transparent;
    -fx-text-fill:transparent;
}

#red-tile{
    -fx-background-color: -fx-my-red;
    -fx-border-color: -fx-my-border-color;
    -fx-border-padding: -fx-my-border-size;
}

#blue-tile{
    -fx-background-color: -fx-my-blue;
    -fx-border-color: -fx-my-border-color;
    -fx-border-padding: -fx-my-border-size;
}

#green-tile{
    -fx-background-color: -fx-my-green;
    -fx-border-color: -fx-my-border-color;
    -fx-border-padding: -fx-my-border-size;
}

#yellow-tile{
    -fx-background-color: -fx-my-yellow;
    -fx-border-color: -fx-my-border-color;
    -fx-border-padding: -fx-my-border-size;
}


